body {
    width: 500px;
    margin: 4% auto;
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: 5px;
    font-size: 1.8rem;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-color: black;
    border-color: #FFF;
}

.Calculator {
    padding: 20px;
    -webkit-box-shadow: 0px 1px 4px 1px rgb(255, 255, 255);
    box-shadow: 0px 1px 4px 1px rgb(255, 255, 255);
    border-radius: 1px;
}

.input {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1px;
    height: 60px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: right;
    margin-right: 17px;
    font-size: 2.5rem;
    overflow-x: auto;
    transition: all 0.2 ease-in-out;
    color: white;
}

.input:hover {
    border: 1px solid #bbb;
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.buttons {}

.operators {}

.operators div {
    display: inline-block;
    border: 1px solid rgba(235, 96, 32, 0.600);
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 8px;
    margin: 20px 4px 10px 0;
    cursor: pointer;
    background-color: rgba(235, 96, 32, 0.620);
    transition: border-color 0.2 ease-in-out, background-color 0.2s, box-shadow 0.2s;
}

.operators div:hover {
    background-color: rgb(187, 56, 16);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: rgb(187, 56, 16);
}

.operators div:active {
    font-weight: bold;
}

.leftpanel {
    display: inline-block;
}

.numbers div {
    display: inline-block;
    border: 1px solid rgb(235, 107, 48);
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 8px;
    margin: 10px 4px 10px 0;
    cursor: pointer;
    background-color: rgb(235, 107, 48);
    transition: border-color .2 ease-in-out, background-color .2, box-shadow .2;
}

.numbers div:hover {
    background-color: #c0441e;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #c0441e;
}

.numbers div:active {
    font-weight: bold;
}

div.equal {
    display: inline-block;
    border: 1px solid #f93030;
    border-radius: 1px;
    width: 16.5%;
    text-align: center;
    padding: 116px 10px;
    margin: 10px 6px 10px 0;
    vertical-align: top;
    cursor: pointer;
    color: #FFF;
    background-color: #f93030;
    transition: all .2 ease-in-out;
}

div.equal:hover {
    background-color: #be0e0e;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px;
    border-color: #1857bb;
}

div.equal:active {
    font-weight: bold;
}